<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %} {% if site.env %}
    <!-- Capture the CSS content as a Nunjucks variable -->
    {% set css %}{% include "styles.min.css" %}{% endset %}
    <style>
      {{css | safe}}
    </style>
    {% else %}
    <link rel="stylesheet" href="/static/styles.min.css" />
    {% endif %}
  </head>
  <body class="bg-gray-100 max-w-3xl mx-auto">
    {{ content | safe }}
  </body>
  <script src="https://www.google.com/recaptcha/api.js?render=6LfsiqshAAAAAJfWhN9qQlKKSbQIdizcSoO_jjPa"></script>
  <script src="static/app.min.js" defer></script>
</html>
